# Ignorar a pasta do ambiente virtual
venv/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]

# Ignorar arquivos de configuração de editor
.vscode/
*.swp
.DS_Store

# Ignorar variáveis de ambiente
.env